<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
    <connectionStrings>	    
	    <add name="DefaultConnection" 
			 connectionString="Server=localhost;Port=5434;Database=db_pato;User Id=postgres;Password=Aforo255#2019;" 
			 providerName="Npgsql" />	    
    </connectionStrings>
  <appSettings>
    <add key="BaseUrl" value="https://localhost/" />
    <add key="Username" value="user" />
    <add key="Password" value="bitnami" />
    <add key="Service" value="pato_service" />
	<add key="Token" value="23d677e65a2c1ffb910157fccf37d62d" />
	<add key="DbShema" value="habilitacion_profesional" />
	<add key="ItemPerCall" value="100" />
	<add key="CourseId" value="2" />
	<add key="StudentRoleId" value="5" />
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
    <defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, EntityFramework6.Npgsql" />
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Provider" invariant="Npgsql" description=".NET Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=4.0.10.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
</configuration>